<div class="contenedor-password-cliente">

    <div class="header-password">

        <h2 class="titulo">Cambia tu Password</h2>
        <div class="linea-decorativa"></div>

    </div>

    <form [formGroup]="formularioPassword" (ngSubmit)="enviarPassword()" class="formulario-password" >

        <div class="campo-formulario">
            <label for="password">Ingresa tu password</label>

            <div class="input-container">

                <input [type]="mostrarPassword  ? 'text' : 'password' "
                id="password"
                formControlName="password"
                placeholder="Ejemplo:  password123"
                >

                <button type="button" class="btn-mostrar" (click)="mostrarPassword = !mostrarPassword">
                    <i class="icono-ojo" [ngClass]="{'icono-ojo-abierto': !mostrarPassword, 'icono-ojo-cerrado': mostrarPassword}"></i>
                </button>

            </div>

            <div *ngIf="formularioPassword.get('password')?.invalid && formularioPassword.get('password')?.touched" class="mensaje-error">

                <span *ngIf="formularioPassword.get('password')?.errors?.['required']">
                    El password es requerido
                </span>

                <span *ngIf="formularioPassword.get('password')?.errors?.['minlength']">
                    El password debe tener como minimo 4 caracteres
                </span>

                <span *ngIf="formularioPassword.get('password')?.errors?.['maxlength']">
                    El password como maximo debe tener 20 caracteres
                </span>
            </div>
        </div>


        <div class="campo-formulario">
            <label for="confirmar-password">Confirmar Password</label>

            <div class="input-container">

                <input 
                [type]="mostrarPassword ? 'text' : 'password'" 
                id="confirmarPassword" 
                formControlName="confirmarPassword" 
                placeholder="Mismo password"
            >

            <button type="button" class="btn-mostrar" (click)="mostrarPassword = !mostrarPassword">
                <i class="icono-ojo" [ngClass]="{'icono-ojo-abierto': !mostrarPassword, 'icono-ojo-cerrado': mostrarPassword}"></i>
            </button>
            </div>


            <div *ngIf="formularioPassword.get('confirmarPassword')?.invalid && formularioPassword.get('confirmarPassword')?.touched" class="mensaje-error">

                <span *ngIf="formularioPassword.get('confirmarPassword')?.errors?.['required']">
                    El password es requerido

                </span>

                <span *ngIf="formularioPassword.get('confirmarPassword')?.errors?.['minlength']">
                    El password debe tener como minimo 4 caracteres
                </span>

                <span *ngIf="formularioPassword.get('confirmarPassword')?.errors?.['maxlength']">
                    El password como maximo debe tener 20 caracteres
                </span>


            </div>


        </div>


        <div *ngIf="mensajeError" class="mensaje-alerta error">
            {{mensajeError}}
        </div>

        <div *ngIf="mensajeExito" class="mensaje-alerta exito">
            {{mensajeExito}}
        </div>

        <div class="contenedor-botones">

            <button type="submit"

            [disabled]="formularioPassword.invalid || estaCargando"
            class="btn-guardar"

            >

            <span *ngIf="!estaCargando">
                Actualizar Password

            
            </span>


            </button>

            <button type="button" class="btn-cancelar"
            (click)="rutaHome()"
            >
                Cancelar
            </button>

            <div *ngIf="estaCargando" class="loader"></div>



        </div>









    </form>












</div>