<div class="registro-producto-container">
  <div class="animated-background"></div>
  <div class="animated-shapes">
    <div class="shape shape-1"></div>
    <div class="shape shape-2"></div>
    <div class="shape shape-3"></div>
  </div>

  <div class="form-container">
    <div class="form-header">
      <div class="header-icon">
        <i class="bi bi-bag-heart-fill"></i>
      </div>
      <h1 class="title">Vende tu Producto</h1>
      <p class="subtitle"><i class="bi bi-cash-coin"></i> Genera ganancias hoy con tu producto</p>
    </div>

    <form [formGroup]="productoFormulario" (ngSubmit)="venderProducto()" class="producto-form">
      <div class="form-group">
        <label for="nombre_producto"><i class="bi bi-tag-fill"></i> Nombre del Producto</label>
        <div class="input-with-icon">
          <i class="bi bi-box-seam input-icon"></i>
          <input 
            type="text"
            id="nombre_producto"
            formControlName="nombre_producto"
            placeholder="Ejemplo: Mesa, Celular, Sillón..."
            class="form-control"
            [ngClass]="{'invalid':productoFormulario.get('nombre_producto')?.invalid && productoFormulario.get('nombre_producto')?.touched}"
          >                    
        </div>
        <div class="error-message"
          *ngIf="productoFormulario.get('nombre_producto')?.invalid && productoFormulario.get('nombre_producto')?.touched">
          <span *ngIf="productoFormulario.get('nombre_producto')?.errors?.['required']">
            El nombre del producto es obligatorio
          </span>
          <span *ngIf="productoFormulario.get('nombre_producto')?.errors?.['minlength']">
            El nombre del producto debe tener al menos 4 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="precio_producto"><i class="bi bi-currency-dollar"></i> Precio del Producto</label>
        <div class="input-with-icon">
          <i class="bi bi-cash input-icon"></i>
          <input 
            type="number"
            id="precio_producto"
            formControlName="precio_producto"
            placeholder="Ejemplo: 1000"
            class="form-control"
            [ngClass]="{'invalid':productoFormulario.get('precio_producto')?.invalid && productoFormulario.get('precio_producto')?.touched}"
          >
        </div>
        <div class="error-message"
          *ngIf="productoFormulario.get('precio_producto')?.invalid && productoFormulario.get('precio_producto')?.touched">
          <span *ngIf="productoFormulario.get('precio_producto')?.errors?.['required']">
            El precio del producto es obligatorio
          </span>
        </div>
      </div>

      <div class="form-group full-width">
        <label for="descripcion"><i class="bi bi-card-text"></i> Descripción del producto</label>
        <div class="input-with-icon textarea-container">
          <i class="bi bi-pencil-square input-icon textarea-icon"></i>
          <textarea
            id="descripcion"
            formControlName="descripcion"
            placeholder="Ejemplo: Manga de One piece semiusado"
            class="form-control textarea"
            [ngClass]="{'invalid':productoFormulario.get('descripcion')?.invalid && productoFormulario.get('descripcion')?.touched}"
          ></textarea>
        </div>
        <div class="error-message" 
          *ngIf="productoFormulario.get('descripcion')?.invalid && productoFormulario.get('descripcion')?.touched">
          <span *ngIf="productoFormulario.get('descripcion')?.errors?.['required']">
            La descripción es obligatoria
          </span>
          <span *ngIf="productoFormulario.get('descripcion')?.errors?.['minlength']">
            La descripción debe tener al menos 4 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="imagen_producto"><i class="bi bi-image"></i> URL de la imagen</label>
        <div class="input-with-icon">
          <i class="bi bi-link-45deg input-icon"></i>
          <input 
            type="text" 
            id="imagen_producto" 
            formControlName="imagen_producto"
            placeholder="https://ejemplo.com/imagen.jpg"
            class="form-control"
            [ngClass]="{'invalid': productoFormulario.get('imagen_producto')?.invalid && productoFormulario.get('imagen_producto')?.touched}"
          >
        </div>
        <div class="error-message" 
          *ngIf="productoFormulario.get('imagen_producto')?.invalid && productoFormulario.get('imagen_producto')?.touched">
          <span *ngIf="productoFormulario.get('imagen_producto')?.errors?.['required']">
            La URL de la imagen es obligatoria
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="cantidad_productos"><i class="bi bi-123"></i> Cantidad de Productos</label>
        <div class="input-with-icon">
          <i class="bi bi-boxes input-icon"></i>
          <input 
            type="number" 
            id="cantidad_productos" 
            formControlName="cantidad_productos"
            placeholder="Ingresa la cantidad de productos"
            class="form-control"
            [ngClass]="{'invalid': productoFormulario.get('cantidad_productos')?.invalid && productoFormulario.get('cantidad_productos')?.touched}"
          >
        </div>
        <div class="error-message" 
          *ngIf="productoFormulario.get('cantidad_productos')?.invalid && productoFormulario.get('cantidad_productos')?.touched">
          <span *ngIf="productoFormulario.get('cantidad_productos')?.errors?.['required']">
            La cantidad es obligatoria
          </span>
          <span *ngIf="productoFormulario.get('cantidad_productos')?.errors?.['pattern']">
            Solo se permiten números
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="categoria"><i class="bi bi-bookmark-fill"></i> Seleccione la categoría disponible</label>
        <div class="input-with-icon">
          <i class="bi bi-list-ul input-icon"></i>
          <select
            id="categoria"
            formControlName="categoria_id"
            class="form-control"
            [ngClass]="{'invalid': productoFormulario.get('categoria_id')?.invalid && productoFormulario.get('categoria_id')?.touched}"
          >
            <option value="" disabled selected>
              Seleccione una categoría
            </option>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{categoria.nombre_categoria}}
            </option>
          </select>
        </div>
        <div class="error-message" 
          *ngIf="productoFormulario.get('categoria_id')?.invalid && productoFormulario.get('categoria_id')?.touched">
          <span *ngIf="productoFormulario.get('categoria_id')?.errors?.['required']">
            Debes seleccionar una categoría
          </span>
        </div>
      </div>

      <div class="message-container">
        <div class="error-alert" *ngIf="errorMensaje">
          <i class="bi bi-exclamation-triangle-fill"></i> {{ errorMensaje }}
        </div>
        <div class="success-alert" *ngIf="mensajeExito">
          <i class="bi bi-check-circle-fill"></i> {{ mensajeExito }}
        </div>
      </div>
      
      <div class="button-container">
        <button 
          type="submit" 
          class="submit-button" 
          [disabled]="productoFormulario.invalid || estaCargando"
        >
          <span *ngIf="!estaCargando"><i class="bi bi-upload"></i> Publicar Producto</span>
          <div class="loader" *ngIf="estaCargando"></div>
        </button>
        
        <button type="button" class="cancel-button" (click)="rutaDashboard()">
          <i class="bi bi-x-circle"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</div>